@import '~styles/variables';

.input {
  &__control {
    width: 100%;
    height: 44px;
    padding: 13px 15px;

    font-size: $text-font-size;
    color: $color-dark-75;

    background-color: white;
    border: 1px solid $color-dark-25;
    border-radius: $border-radius;
    outline: 0;

    transition: border-color $default-transition;

    &::placeholder {
      color: $color-dark-25;
    }

    &:hover,
    &:focus {
      border-color: $color-dark-50;
    }
  }
}