//-
  options.name - attribute name
  options.type - attribute placeholder
  options.placeholder - attribute placeholder
  options.id - attribute id

mixin input(options={})
  .input
    input.input__control(
      type=options.type
      name=options.name 
      id=options.id 
      placeholder=options.placeholder
    )