@import '~styles/variables';

.landing {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  min-height: 830px;
  padding: 70px 0 20px;
  background: url('./images/background.jpg') center no-repeat;
  background-size: cover;

  @include respond-down('md') {
    padding: 20px 0;
    min-height: auto;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  &__modal {
    @include respond-down('md') {
      align-self: center;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: $text-font-size;
    line-height: $text-line-height;
    text-align: right;
    color: $color-dark-75;
  }
}