@import '~styles/variables';

.button {
  $p: &;

  position: relative;

  display: inline-flex;
  align-items: stretch;
  min-width: 99px;
  height: 44px;
  padding: 0;

  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  background-color: transparent;
  border: 0;
  border-radius: 22px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: $gradient-primary;
    border-radius: 22px;

    transition: opacity $default-transition;
  }

  &:hover {
    &:before {
      opacity: .5;
    }
  }

  &_view_bordered {
    #{$p}__text {
      margin: 2px;

      color: $color-primary;

      background-color: white;
    }
  }

  &_size {
    &_small {
      height: 34px;
    }
  }

  &_width {
    &_full {
      width: 100%;
    }
  }

  &_icon {
    position: relative;

    &_arrow-forward {
      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 14px;

        width: 18px;
        height: 18px;
        margin-top: -9px;

        background-image: url('./images/arrow-forward.svg');
      }
    }
  }

  &__text {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0 20px;

    border-radius: 22px;
  }
}