include ../button/button
include ../social/social

//-
  options.menuItems = массив элементов меню
  options.isAuthorized = авторизован ли пользователь

mixin menu(options={})
  if !options.isAuthorized
    - options.isAuthorized = false
  if !options.menuItems
    - options.menuItems = []

  .menu.js-menu
    .menu__overlay.js-menu-close
    .menu__container 
      button.menu__close.js-menu-close(type="button")
        span.menu__close-line
        span.menu__close-line

      .menu__content
        if options.isAuthorized
          .menu__user
            a.menu__user-name(href="") Юлий Цезарь
        else
          .menu__buttons
            .menu__button
              +button({text: 'Войти', modifiers: {view: 'bordered', size: 'small', width: 'full'}})
            .menu__button
              +button({text: 'Зарегистрироваться', modifiers: {size: 'small', width: 'full'}})

        nav.menu__items
            ul.menu__list
              each menuItem in options.menuItems
                li.menu__item
                  a.menu__link(href="")= menuItem.name
                    if menuItem.items
                      span.menu__link-arrow
                  if menuItem.items
                    ul.menu__sublist
                      each menuSubItem in menuItem.items
                        li.menu__item.menu__item_sub 
                          a.menu__link(class="menu__link_sub" href="")= menuSubItem.name

        .menu__bottom
          +social()