mixin form()
  form.form
    block

mixin form_group()
  .form__group
    block

mixin form_field()
  .form__field
    block

mixin form_buttons(options={})
  if !options.modifiers
    - options.modifiers = {}

  - const classes = getModifiers('form__buttons', options.modifiers);

  .form__buttons(class=classes)
    block