//-
  options.text = текст заголовка
  options.modifiers = модификаторы

mixin h2(options={})
  if !options.modifiers
    - options.modifiers = {}

  - const classes = getModifiers('h2', options.modifiers);

  h2.h2(class=classes)= options.text