include ../input/input

mixin subscribe-form()
  form.subscribe-form(action="")
    .subscribe-form__input 
      +input({
        name: 'email', 
        type: 'text', 
        placeholder: 'Email'
      })
    button.subscribe-form__button(type="submit")
      include ./images/arrow-forward.svg
