@import '~styles/variables';

.label {
  display: block;
  margin-bottom: 5px;

  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: $color-dark;

  text-transform: uppercase;

  &_mb {
    &_15 {
      margin-bottom: 15px;
    }
  }
}