//-
  options.id = id лейбла
  options.text = текст лейбла
  options.modifiers = модификаторы
  
mixin label(options={})
  if !options.modifiers
    - options.modifiers = {}

  - const classes = getModifiers('label', options.modifiers);

  label.label(class=classes for=options.id)= options.text