extends ../../pug/base

include ../../components/container/container
include ../../components/sign-up/sign-up

block title
  | Sign up

block main
  .p-sign-up
    +container()
      .p-sign-up__container
        +sign-up()