-
  global.headerMenuItems = [
    {
      name: 'О нас',
      active: true
    },
    {
      name: 'Услуги',
      items: [
        {
          name: 'Сдать жилье'
        },
        {
          name: 'Снять жилье'
        },
      ]
    },
    {
      name: 'Вакансии'
    },
    {
      name: 'Новости'
    },
    {
      name: 'Соглашения',
      items: [
        {
          name: 'Соглашение 1'
        },
        {
          name: 'Соглашение 2'
        },
      ]
    },
  ]
  
  global.footerMenuItems = [
    {
      title: 'Навигация',
      items: [
        'О нас',
        'Новости',
        'Служба поддержки',
        'Услуги',
      ]
    },
    {
      title: 'О нас',
      items: [
        'О сервисе',
        'Наша команда',
        'Вакансии',
        'Инвесторы',
      ]
    },
    {
      title: 'Служба поддержки',
      items: [
        'Соглашения',
        'Сообщества',
        'Связь с нами',
      ]
    },
  ]