mixin social
  ul.social
    li.social__item
      a(href="" target="_blank" rel="noopener noreferrer").social__link
        include ./images/twitter.svg
    li.social__item
      a(href="" target="_blank" rel="noopener noreferrer").social__link
        include ./images/facebook.svg
    li.social__item
      a(href="" target="_blank" rel="noopener noreferrer").social__link
        include ./images/instagram.svg