include ../h3/h3

//-
  options.title = заголовок
  options.expanded = true/false

mixin collapse(options={})
  .collapse.js-collapse(class=options.expanded ? 'collapse_expanded' : '')
    .collapse__header.js-collapse__header
      +h3({text: options.title})
      span.collapse__arrow
    .collapse__body
      .collapse__inner
        block
