include ../container/container
include ../logo/logo
include ../button/button

//-
  options.menuItems = массив элементов меню
  options.isAuthorized = авторизован ли пользователь

mixin header(options={})
  if !options.isAuthorized
    - options.isAuthorized = false
  if !options.menuItems
    - options.menuItems = []

  header.header
    +container()
       .header__content
        .header__logo 
          +logo()
        
        .header__panel
          nav.header__menu
            ul.header__menu-list
              each menuItem in options.menuItems
                li.header__menu-item
                  a.header__menu-link(class=menuItem.active ? "header__menu-link_current" : "" href="")= menuItem.name
                    if menuItem.items
                      span.header__menu-link-arrow
                  if menuItem.items
                    ul.header__menu-sublist
                      each menuSubitem in menuItem.items
                        li.header__menu-item.header__menu-item_sub 
                          a.header__menu-link(class="header__menu-link_sub" class=menuSubitem.active ? 'header__menu-link_current' : '' href="")= menuSubitem.name


          if options.isAuthorized
            .header__user
              a.header__user-name(href="") Юлий Цезарь
          else
            .header__buttons
              .header__button
                +button({text: 'Войти', modifiers: {view: 'bordered', size: 'small'}})
              .header__button
                +button({text: 'Зарегистрироваться', modifiers: {size: 'small'}})

        button.header__menu-button(type="button")
          span.header__menu-button-line
          span.header__menu-button-line
          span.header__menu-button-line


    