@import '~styles/variables';

.header {
  $p: &;

  background-color: white;
  box-shadow: var(--box-shadow);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;

    @include respond-down('lg') {
      padding: 10px 0;
    }
  }

  &__panel {
    display: flex;
    align-items: center;

    @include respond-down('lg') {
      display: none;
    }
  }

  &__menu {
    margin-right: 10px;
  }

  &__menu-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__menu-item {
    position: relative;

    &:hover {
      #{$p}__menu-sublist {
        opacity: 1;
        visibility: visible;
      }

      #{$p}__menu-arrow {
        transform: rotate(-180deg);
      }
    }

    &_sub {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__menu-link {
    display: flex;
    align-items: stretch;
    padding: 0 10px;

    font-size: var(--text-font-size);
    line-height: 17px;
    text-decoration: none;
    color: var(--color-dark-50);

    &_current {
      font-weight: 700;
      color: var(--color-dark-75);
    }

    &_sub {
      padding: 0;

      white-space: nowrap;
    }
  }

  &__menu-link-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;

    transition: transform var(--default-transition);

    &:after {
      @include arrow-down;
    }
  }

  &__menu-sublist {
    position: absolute;
    left: 0;
    bottom: 0;

    margin: 0;
    padding: 20px 20px;

    list-style: none;
    transform: translateY(100%);
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--default-transition), visibility var(--default-transition);
  }

  &__buttons {
    display: flex;
  }

  &__button {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__user {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 30px;
      margin-right: 20px;

      background-color: var(--color-dark-10);
    }
  }

  &__user-name {
    font-size: var(--text-font-size);
    line-height: 17px;
    text-decoration: none;
    color: var(--color-dark-50);
  }

  &__menu-button {
    display: flex;
    flex-direction: column;
    width: 30px;
    padding: 0;

    background-color: transparent;
    border: 0;

    cursor: pointer;

    @include respond-up('lg') {
      display: none;
    }
  }

  &__menu-button-line {
    display: block;
    width: 100%;
    height: 2px;

    background: var(--gradient-primary);
    border-radius: 1px;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}