include ../label/label
include ../input/input

//-
  options.id = id
  options.label = { text }
  options.input = { name, type, placeholder }

mixin input-field(options)
  .input-field
    if options.label
      .input-field__label
        - options.label.id = options.id;
        +label(options.label)
    .input-field__input 
      - options.input.id = options.id;
      +input(options.input)
