:root {
  --color-dark: #1f2041;
  --color-dark-75: #575871;
  --color-dark-50: #8f90a0;
  --color-dark-25: #c7c7cf;
  --color-dark-10: #e9e9ec;
  --color-dark-5: #f3f4f5;
  --color-primary: #bc9cff;
  --color-secondary: #6fcf97;

  --font-body: 'Montserrat', 'Arial', sans-serif;
  --text-font-size: 14px;
  --text-line-height: 24px;

  --max-row-width: 1210px;

  --border-radius: 4px;

  --default-transition: .4s ease-in-out;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

@mixin respond-up($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($grid-breakpoints)}.";
  }
}

@mixin respond-down($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media (max-width: map-get($grid-breakpoints, $breakpoint) - 1px) {
      @content;
    }
  }
 
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($grid-breakpoints)}.";
  }
}