:root {
  --color-dark: #1f2041;
  --color-dark-75: #575871;
  --color-dark-50: #8f90a0;
  --color-dark-25: #c7c7cf;
  --color-dark-10: #e9e9ec;
  --color-dark-5: #f3f4f5;
  --color-primary: #bc9cff;
  --color-secondary: #6fcf97;

  --font-body: 'Montserrat', 'Arial', sans-serif;
  --body-font-size: 14px;
  --body-line-height: 24px;

  --max-row-width: 1160px;
}