@import '~styles/variables';

.checkbox {
  $p: &;

  display: flex;
  cursor: pointer;

  &__input {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;

    white-space: nowrap;

    border: 0;
    clip: rect(0, 0, 0, 0);

    &:checked + #{$p}__box {
      border-color: $color-primary;

      &:after {
        opacity: 1;
      }
    }
  }

  &__box {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 20px;
    height: 20px;

    border: 1px solid $color-dark-25;
    border-radius: $border-radius;

    transition: border-color $default-transition;

    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 9px;
      background-image: url('./images/checked.svg');

      opacity: 0;
      transition: opacity $default-transition;
    }
  }

  &__body {
    position: relative;
    top: 1px;

    padding-left: 10px;
  }

  &__label {
    margin-bottom: 6px;

    font-size: $text-font-size;
    line-height: 18px;
    font-weight: 700;
    color: $color-dark-75;
  }

  &__text {

    font-size: $text-font-size;
    line-height: 18px;
    color: $color-dark-50;

    &_size {
      &_small {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}