@import '~styles/variables';

.bullet-list {
  margin: 0;
  padding: 0;

  list-style: none;

  &__item {
    position: relative;

    margin-bottom: 10px;
    padding-left: 20px;

    font-size: $text-font-size;
    line-height: $text-line-height;
    color: $color-dark-75;

    &_mb {
      &_0 {
        margin-bottom: 0;
      }
    }

    &_gradient {
      &_orange {
        &:before {
          background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
        }
      }

      &_green {
        &:before {
          background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        }
      }

      &_purple {
        &:before {
          background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        }
      }

      &_black {
        &:before {
          background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;

      display: block;
      width: 10px;
      height: 10px;

      background-color: $color-dark-25;
      border-radius: 50%;
    }
  }
}