include ../container/container
include ../logo/logo
include ../social/social

mixin footer 
  footer.footer
    .footer__logo 
      +logo
    .footer__bottom
      +container
        .footer__bottom-content
          .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
          .footer__social 
            +social