html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 100vh;
  
  font-family: var(--font-body);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--color-dark-75);
}